body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .title {
    font-size: 1.5vw;
    font-weight: 400;
    color: #333333;
    opacity: .8;
  }
  
  .bar-group .name-label {
    text-anchor: end;
    font-weight: 500;
    font-size: .9vw;
    fill: #333;
    width: fit-content;
    opacity: .8;
 
  }

  .bar-group .value-label {
    text-anchor: end;
    fill: #fff;
    font-weight: 900;
    font-size: 0.7em;
  }
  
  .container .bar-group {
    transition: opacity 0.3s;
  }
  
  /* Fade bars when the chart is hovered */
  .container:hover .bar-group {
    opacity: 0.3;
  }
  
  /* But don't fade the hovered bar... */
  .container .bar-group:hover {
    opacity: 1;
  }
  
  .container .bar-group:hover .name-label {
    font-weight: 400;
  }
  
  .container .bar-group:hover .value-label {
    font-size: 0.8em;
  }