
.visualization {
display: grid;
grid-template: 1fr 1fr /1fr 1fr;
height: 100vh;
margin:100px;
/* width: fit-content; */

}

.wordCloud {
  grid-column: 2/3;
  grid-row:1/2;
  /* padding-left: 100px; */
  /* padding-top: 50px; */
  display: flex;
  /* max-width: 1000px; */
  
}
/* .wordCloud {
  height:50%;
  width: 50%;
} */
.feelWheel {

  grid-column: 1/2;
  grid-row:1/2;
  /* margin:-10px; */
  padding-top: 20px !important;
}

.forms {
  grid-row:2/3;
  grid-column:2/3;

}

/* .wordTable {
  height: fit-content;
} */
.feeling {
  border: #616263;
  border-radius: 5px;
  font-size: .8rem;
  font:bold;
  border-style:solid;  
  background-color: #a7eff3;
  opacity: .8;
  margin: 5px;
  width: 70px;
  align-content: center;

}

.feeling:hover {
  background-color: aqua;
  color: black;
}

/* .container {
  display:grid
} */

/* Updating the input field  */
.inputfield {
  border:none; /*removing the button box */
  border-bottom: 2px solid black;
  outline:none; /*removing the outline box */
}

/* moving the submit button to the right of the form */
.submitButton, .deleteButton {
  float: center;
  margin-left: .5rem;
  border-radius: 5px;
}
.submitButton:hover{
  background-color: rgb(249, 243, 243);
  font-weight: 600;
  border-radius: 5px;
  color: rgb(0, 13, 255);
}

.deleteButton:hover{
  background-color: rgb(249, 243, 243);
  border-radius: 5px;
  color: rgb(213, 0, 0);
  opacity: .8;
  font-weight: 600;
}

/* keeping the form and submit button inline */
.submitField {
  display: inline-block;
  /* align-items: center; */
}