.Footer {
    background-color: #2561c2;
    font-size: x-large;
    display: flex;
    justify-content: center;
    color:#fffefe;
    text-decoration: none;
    font-family: Helvetica;
}

 .Minh, .Wanjun, .SourceCode {
    text-decoration-color: none;
    color: #ffffff;
}

.Minh:hover, .Wanjun:hover, .SourceCode:hover {
    text-decoration-color: none;
    color: #a9a7a7;
}


.madeBy {
    padding-right: 2vw;
}
.source {
    padding-left:2vw;
}