.navbarCustom {
    --bs-nav-link-font-size:1vw;
    /* font-size: 1.5rem !important; */
    align-items: center;
    height: 5vh;
    margin-top: 10px;
    /* border: 2px dotted ; */
    /* border-color: black; */
    
}
.navbar-brand {
    --bs-navbar-brand-font-size:1.5vw;
    
}

.navBarContainer {
    font-size: xx-large;
}
 /* .navbar:hover{
    color: rgb(75, 16, 223) !important;
 } */
