.About {
    font-family: Helvetica, sans-serif;
    /* background-color: linear-gradient(#ffffff,#fff7f2, 
    #ffe0ce, #d9c2c8, #c6bedf,#bbbee5, 
    #bcc3ff,#b4c5ff,#a5c2ff,#94befc,#6f9de6,#598ad9,#598ad9); */
}
.firstIntro  {
    background-image: linear-gradient(#ffffff,#fff7f2, 
    #ffe0ce, #d9c2c8, #c6bedf);
    height: 600px;
    display: block;
  
}

.firstHeader{
    padding-top: 150px;
    font-size: 50px;
    display: flex;
    /* vertical-align: middle; */
    font-weight: bold;
    margin:100px;

    /* justify-content: center; */
    
}
.secondIntro  {
     background-image: linear-gradient(#c6bedf,#bbbee5,  
     #bcc3ff,#b4c5ff,#a5c2ff); 
    height: 600px;
    display: block;
    
    
}

.secondHeader, .thirdHeader {
    padding-top: 300px 0;
    font-size: 50px;
    display: flex;
    /* vertical-align: middle; */
    font-weight: bold;
    margin-left:100px;
    margin-right:100px;
    
}

.thirdIntro  {
    background-image: linear-gradient(#a5c2ff,#94befc,#6f9de6,#598ad9,#2561c2);
    height: 600px;
    display: block;
}

.secondParagraph,.thirdParagraph {
font-size: 20px;
margin-left:100px;
margin-right: 100px;
}

/* .welcomeMessage {
    margin-left: 90px;
    margin-top:30px; */
    /* display: flex; */
    /* position: relative; */
    /* padding-left: 10px;
    padding-right:10px; */
    /* font-family: Helvetica ; */
    /* font-size: 25px; */
    /* font-weight: 100px; */
    /* padding-top: 200px; }*/


.welcomeMessage{
	position: relative;
	background: #ffe868;
	border-radius: .8em;
    width: fit-content;
    height: fit-content;
    align-items: center;
    align-content: center;
    display: flex;
    padding-top:16px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 0px;
    font-family: Helvetica ;
    font-size:1vw;
}

.welcomeMessage:after {
	content: '';
	/* position: absolute; */
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 44px solid transparent;
	border-top-color:#ffe54c;
	border-bottom: 0;
	border-right: 0;
	margin-left: -22px;
	margin-bottom: -43px; 
    }

/* 
.Footer {
    background-color: #ffffff;
    font-size: x-large;
    display: flex;
    justify-content: center;
    color:#686767;
    text-decoration: none;
    font-family: Helvetica;
}

 .Minh, .Wanjun, .SourceCode {
    text-decoration-color: none;
    color:#686767;
}

.Minh:hover, .Wanjun:hover, .SourceCode:hover {
    text-decoration-color: none;
    color: #363535;
}


.madeBy {
    padding-right: 2vw;
}
.source {
    padding-left:2vw;
} */