.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feeling {
  border: #616263;
  border-radius: 5px;
  font-size: .8rem;
  font:bold;
  border-style:solid;  
  background-color: #a7eff3;
  opacity: .8;
  margin: 5px;
  width: 70px;
  align-content: center;

}

.feeling:hover {
  background-color: aqua;
  color: black;
}

/* .container {
  display:grid
} */
